## Real Estate Market Prediction Project - Model Building
### Importing Pre-processed data

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

C:\Users\User\AppData\Local\Programs\Python\Python37\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\User\AppData\Local\Programs\Python\Python37\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [4]:
df = pd.read_csv('Bengaluru_House_Data_Processed.csv')
df

                   location  BHK  total_sqmeter  bath       price
0       Devarachikkanahalli    3         116.13     2   487940.20
1       Devarachikkanahalli    2         116.13     2   443582.00
2       Devarachikkanahalli    2         111.48     2   920432.65
3       Devarachikkanahalli    2         108.70     2   443582.00
4       Devarachikkanahalli    3         132.39     2   720820.75
...                     ...  ...            ...   ...         ...
10242                 other    2         125.70     2  1219850.50
10243                 other    1          75.44     1   288328.30
10244                 other    3         133.78     2   708954.93
10245                 other    2          99.87     2   532298.40
10246                 other    4         334.45     5  4435820.00

[10247 rows x 5 columns]

In [5]:
dummies = pd.get_dummies(df.location)
dummies.head(3)

,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df1 = pd.concat([df,dummies.drop('other',axis=1)],axis=1)
df1.head(3)

,location,BHK,total_sqmeter,bath,price,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,Devarachikkanahalli,3,116.13,2,487940.20,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Devarachikkanahalli,2,116.13,2,443582.00,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Devarachikkanahalli,2,111.48,2,920432.65,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df2 = df1.drop('location',axis=1)
df2

,BHK,total_sqmeter,bath,price,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,3,116.13,2,487940.20,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,116.13,2,443582.00,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,111.48,2,920432.65,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,108.70,2,443582.00,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,132.39,2,720820.75,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10242,2,125.70,2,1219850.50,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10243,1,75.44,1,288328.30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10244,3,133.78,2,708954.93,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10245,2,99.87,2,532298.40,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10246,4,334.45,5,4435820.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Preparing X and Y Data for the model

In [8]:
X = df2.drop('price',axis=1)
print(X.shape)
y = df2.price
y.head()

(10247, 243)

0    487940.20
1    443582.00
2    920432.65
3    443582.00
4    720820.75
Name: price, dtype: float64

### Spliting the Data

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=7)

In [38]:
from sklearn.linear_model import LinearRegression
lr_model = LinearRegression()
lr_model.fit(X_train,y_train)
lr_model.score(X_test,y_test)

0.8652846223823096

In [48]:
from sklearn.model_selection import ShuffleSplit, cross_val_score
cv = ShuffleSplit(n_splits=10, test_size=0.2, random_state=2)
cross_val_score(LinearRegression(), X, y, cv=cv).mean()

0.8082455990494484

In [50]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def gridSearchCV_model(X,y):
    algos = {
        'linear_regression' : {
            'model' : LinearRegression(),
            'params' : {
                'normalize' : [True,False]
            }
        },
        'lasso' : {
            'model' : Lasso(),
            'params' : {
                'alpha' : [1,2],
                'selection' : ['random', 'cyclic']
            }
        },
        'decision_tree' : {
            'model' : DecisionTreeRegressor(),
            'params' : {
                'criterion' : ['mse', 'friedman_mse'],
                'splitter' : ['best', 'random']
            }
        }
    }
    scores=[]
    cv = ShuffleSplit(n_splits=10, test_size=0.2, random_state=1)
    for model, config in algos.items():
        grisearchmodel = GridSearchCV(config['model'],config['params'],cv=cv,return_train_score=False)
        grisearchmodel.fit(X,y)
        scores.append({
            'model' : model,
            'best_score' : grisearchmodel.best_score_,
            'best_params' : grisearchmodel.best_params_
        })
    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

In [51]:
#Calling the grid search method to find the best model
gridSearchCV_model(X,y)

               model  best_score                                 best_params
0  linear_regression    0.795376                        {'normalize': False}
1              lasso    0.795408         {'alpha': 2, 'selection': 'cyclic'}
2      decision_tree    0.689490  {'criterion': 'mse', 'splitter': 'random'}

In [52]:
lasso_model = Lasso(alpha=2, selection='cyclic')
lasso_model.fit(X_train,y_train)
lasso_model.score(X_test,y_test)

0.8652410510964426

### Predicting Price Function

In [59]:
X.columns

Index(['BHK', 'total_sqmeter', 'bath', ' Devarachikkanahalli',
       '1st Block Jayanagar', '1st Phase JP Nagar',
       '2nd Phase Judicial Layout', '2nd Stage Nagarbhavi',
       '5th Block Hbr Layout', '5th Phase JP Nagar',
       ...
       'Vijayanagar', 'Vishveshwarya Layout', 'Vishwapriya Layout',
       'Vittasandra', 'Whitefield', 'Yelachenahalli', 'Yelahanka',
       'Yelahanka New Town', 'Yelenahalli', 'Yeshwanthpur'],
      dtype='object', length=243)

In [62]:
def predict_price(location,sqmeter,bath,bhk):
    loc_index = np.where(X.columns==location)[0][0]
    x = np.zeros(len(X.columns))
    x[0] =bhk
    x[1] = sqmeter
    x[2] = bath
    if loc_index >= 0:
        x[loc_index] = 1
    return lasso_model.predict([x])[0]

In [74]:
#Location, Total Square Meter, Baths, BedroomHallKitchen
predict_price('1st Phase JP Nagar',100,2,2)

1049079.9163085832

In [75]:
predict_price('1st Phase JP Nagar',100,2,3)

970403.2446275452

In [80]:
predict_price('1st Phase JP Nagar',120,2,4)

1077713.2618417628

In [86]:
predict_price('Whitefield',160,3,4)

1032229.4825152856

## Saving the model

In [87]:
import pickle
with open('Bengaluru_House_Data_Model.pickle', 'wb') as f:
    pickle.dump(lasso_model,f)

In [89]:
#Exporting X Columns for deployment use
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open('columns.json', 'w') as f:
    f.write(json.dumps(columns))